
    <div class="sidebar-sticky">
      <ul class="nav flex-column">

        <li class="nav-item">
              <a class="nav-link" routerLink="">
                <span data-feather="users"></span>
                Dashboard
              </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/customers">
            <span data-feather="users"></span>
            Customers
          </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/contacts">
              <span data-feather="layers"></span>
              Contacts
            </a>
          </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/leads">
            <span data-feather="layers"></span>
            Leads
          </a>
        </li>

      </ul>
    </div>
