<div class="container-fluid py-5">
    <div class="row">
    <nav class="col-md-2 my-1 d-none d-md-block bg-light sidebar">
     <app-sidebar></app-sidebar>
    </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Customers</h1>

          <a class="btn btn-success" routerLink="/create">Add New</a>
        </div>

        <p class="text-center">
          <img *ngIf="loading" src="https://loading.io/spinners/comets/index.comet-spinner.gif" alt="">
        </p>
       
        <form action=""  #searchForm="ngForm" (ngSubmit)="onSearchFormSubmit(searchForm)">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <input type="text" class="form-control" name="q" [(ngModel)]="query.q" placeholder="Search by something" />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
               <input type="date" name="date_from" class="form-control" [(ngModel)]="query.date_from" />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
               <input type="date" name="date_to" class="form-control" [(ngModel)]="query.date_to" />
              </div>
            </div>
            <div class="col-md-3">
              <button class="btn btn-primary">Search</button>
            </div>
          </div>
        </form>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Company Name</th>
              <th>Address</th>
              <th>Remarks</th>
              <th>Created At</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>


              <tr  *ngFor="let customer of customers">
                  <td>{{  customer.id }}</td>
                  <td>{{ customer.name }}</td>
                  <td>{{ customer.phone }}</td>
                  <td>{{ customer.email }}</td>
                  <td> {{ customer.company_name }} </td>
                  <td>{{ customer.address }}</td>
                  <td>{{ customer.remarks }}</td>
                  <td>{{ customer.createdAt }}</td>
                  <td>
                    <a class="btn btn-primary btn-sm mx-1" routerLink="/customers/{{ customer.id }}/edit">Edit</a>
                    <button (click)="onDelete(customer.id)" class="btn btn-danger btn-sm" href="">Remove</button>
                  </td>
                </tr>


          </tbody>
        </table>



      </main>
    </div>
  </div>